body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

   /* Nav styling */
nav{
    display: grid;
    background: black;
    color: white;
    font-family:'Noto Serif', serif ;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
}

span{
    opacity: 0.6;
}
span:hover{
    opacity:1;
}
 
        /* Article styling */

article{
    display: grid;
    grid-template-columns: 63% 35%;
    background: rgb(255, 253, 255);
    margin: 2vh 20vw 0 20vw;
    border: 1px solid rgb(0,0, 0, 0.1);
    padding: 3vh 2vw 0 2vw;
    column-gap: 5%;
}
article h1{
    margin: 0 0 0 0;
}
article p{
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    margin: 4vh 0 0 0;
}
article h2{
    text-transform: uppercase;
    font-size: 1rem;
    margin: 4vh 0 0 0;
}
.h1{
    text-transform: uppercase;
}
article h3{
    background: black;
    text-transform: uppercase ;
    font-weight: bold;
    color: white;
    width: 50%;
    margin: 2vh 0 0 3vw;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
article ul{
    font-weight: 900;
    opacity: 0.7;
    letter-spacing: 4px;
    font-size: 1vw;
    font-family: 'Noto Serif', serif ;
}
.price{
    color: green;
    text-align: center;
    font-size: 2.6vw;
}

article section{
    margin-top: -66vh;
}
section p{
    opacity: 0.7;
    margin-top: 0vh;
}
input{
    height: 4vh;
    width: 30vw;
    margin: 2vh 0 0 0;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}
::placeholder{
    padding: 1vh 1vw 1vh 0vw;
}
h4{
    opacity: 1;
}
.button{
    color: white;
    background: rgb(27,165,27);
    text-align: center;
    width: 34vw;
    border-radius: 5px;
    border: none;
    margin: 2vh 0 2vh 0;
    font-size: 2.4vw;
}
.button:hover{
    color: rgb(255, 253, 230);
    background: rgb(113, 190, 113);
}

.pop-outmain{
    position: absolute;
    top: 30vh;
    width: 100vw;
    min-height: 40vh;
    /* background: rgb(255, 255, 255);*/
    display: none;
    z-index: 0; 
}

.pop-out{
    background: rgb(255, 255, 255);
    max-width: 40vw;
    min-height: 54vh;
    border-radius: 10px;
    border: none;
    justify-self: center;
    display: grid;
    box-shadow: 0 0 20px -7px;
    z-index: 100;
    /* left: 20vw;
    right: 20vw;  */
}
 .pop-logo1{
   min-height: 10vh;
} 
.copy{
    text-align: center;
    font-size: 3.5vh;
    font-weight: bold;
    line-height: 4.6vh;
    font-family:'Noto Serif', serif ;
    padding: 0 1vw 0 3vw;
}
.cta1{
    color: rgb(53, 204, 98);
}
.cta{
    color: red;
}
/* .btn-1{
    justify-self: end;
    margin: 0 5vw 0 0;
}
.btn-2{
    justify-self: start;
    margin: 0 0 0 5vw;    
} */
.btn-con{
    display: grid;
    grid-template-columns: 10vw 10vw;
    column-gap: 10vw;
    justify-content: center;
    margin-bottom: 3vh;
}
.btn-1, .btn-2{
    color: white;
    background: rgb(27, 165, 27);
    font-size: 2.4vh;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 24px;
    border: none;
}
.btn-2{
    background: white;
    color: black;
    border: 2px solid black;
    
}
.btn-1:hover, .btn-2:hover{
    background: rgb(53, 204, 98);
    color: white;
    border: none;
}


            /* Footer styling */

footer{
 width: 100%;
 display: grid;
 justify-content: center;
 background: rgb(0, 0, 0);
 color: rgb(255, 255, 255);
 margin: 3vh 0 0 0 ;
}
footer h1{
    text-align: center;
}
footer span{
    color: rgb(255, 255, 255, 0.6);
    cursor: pointer;
}
footer span:hover{
    color: white;
}   
footer ul{
    display: grid;
    grid-template-columns: 18vw 10vw 14vw 10vw 10vw 10vw 10vw;
    column-gap: 18px;
    text-align: center;
    list-style: none;
}
footer p{
    text-align: center;
}     


@media all and (max-width:1038px){
article{
    display: block;
    margin: 4vh 2vw 0 2vw; 
    padding:1vh 1.5vw 0 3vw ;
}
article h2{
    margin: 0 0 0 0;
}
.h1{
    display: none;
}
article h3{
    width: 80%;
    padding: 1vh 1vw 1vh 4vw;
    letter-spacing: 8px;
}
article ul{
font-size: 3vw;
}
.price{
    font-size: 7.6vw;
}
article section {
    margin-top: 5vh;
}

input{
    height: 4vh;
    width: 94%;
    margin: 2vh 0 0 0;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}
.button{
    width: 88vw;
    font-size: 5.8vw;
    padding: 0.7vh 0vw 0.7vh 0vw;
}

.pop-out{
    max-width: 90vw;
}

.btn-con{
    display: grid;
    grid-template-columns: 32vw 32vw;
    column-gap: 12vw;
    justify-content: center;
    margin-bottom: 1vh;
}
.btn-1,.btn-2{
    border-radius: 30px;
    font-size: 2.4vh;
    padding: 0vh 1vw 0vh 1vw;
    height: 5vh;
}
.copy{
   font-size: 2.5vh;
}

footer ul{
    display: grid;
    grid-template-columns: 54vw 30vw;
    column-gap: 10px;
}
}